@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700|Vidaloka&display=swap');

*{margin:0; padding:0; box-sizing:border-box; list-style:none;}

br {clear: both;}


#header{
 overflow:hidden;
}

.header_nav{
	height:100%;
	width:70px;
    background-color:#ffffff;
    border: 1px solid #797880;
    position:fixed;
    z-index:1;
}

.header_nav .logo{
	width:30%;
	height:auto;
	position:absolute;
    left:22px;
	top:44%;
}

.line{
    position:absolute;
    width:70px;
    border:1px solid #797880;
    top:65px;
}

.navp{
    position: absolute;
    width: 110px;
    height: 21px;
    bottom:60px;
    left:-20px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 21px;
    color: #000000;
    transform: rotate(-90deg);
    white-space:nowrap;
}

header button{
	position:absolute;
	width:24px;
	height:18px;
	top:25px;
	right:22px;
	border:none;
	background:none;
	cursor:pointer; 
	z-index:2;
}

header button span:first-child{
    text-indent:-99999px;
}

header button span:nth-child(2){
    margin:5px 0;
}

header button span{
	border-radius:6px;
	display:block;
	width:24px;
	height:3px;
	background:#000;
}

header button.on span{
    position:absolute; 
    width:100%; 
}

header button.on span:nth-of-type(1){
    transform:rotate(45deg);
    
}

header button.on span:nth-of-type(2){
    transform:rotate(-45deg);
    margin:0;
}

header button.on span:nth-of-type(3){
display:none;
}

.nav{
    display:none;
	position:inherit;
    background-color:white;
    height:100%;
    width:100%;
	left:70px;
    border:1px solid #797880;
}

 nav li:after{
    content:""; 
    display:block; 
    clear:both;
}

.nav li a{
    text-decoration:none;
    color:black;
    font-family:Vidaloka;
    font-style: normal;
    font-weight: normal;
    font-size: 120px;
}

.nav li:nth-of-type(1){
    margin-top:50px;
}

.nav li{
    text-align:left;  
    margin-left: 80px;
}

.nav li:hover a{
     color:#79BCB5;
     text-decoration:none;
}


body{
	width:100%;
	height:100%;
    overflow: hidden;
    background: #f6f6f6;
}

.container {
    margin: 60px 0 0 140px; 
}

.container img {
    width: 306px;
}

.about__title {
    font-family: Vidaloka;
    font-size: 40px;
    line-height: 50px;
}

.about__body {
    display: flex;
    margin-top: 40px;
}

.about__body__text {
    font-family: Vidaloka;
    font-size: 20px;
    padding: 1em 3em;
}

button {
    width: 150px;
    height: 54px;
    background: #FE6242;
    border-radius: 4px;
    display: inline;
    bottom: 20px;
    text-align: center;
    border: none;
}

a {
    text-decoration: none;
    font-family: PT Sans;
    font-weight: bold;
    font-size: 25px;
    color: white;
}

@media (max-width: 800px) {
    .about__body__text {
        font-size: 13px;
    }
}

@media (max-width: 1024px) {
    .about__body__text {
        font-size: 15px;
    }
}


@media screen and (max-width:610px){
    .nav li a{font-size:110px;}
    body {
        overflow: auto;
    }
    
    .container {
        margin: 0;
    }

    .container img {
        width: auto;
    }

    .about__title {
        font-size: 30px;
        line-height: normal;
    }
    .about__body {
        flex-direction: column;
    }


}

@media screen and (max-width:1024px){
.nav li{
    margin-left:40px;}

.nav li a{
    font-size:100px;}
}

@media screen and (max-width:800px){
.nav li a{
    font-size:72px;}
}



@media screen and (max-width:610px){
.header_nav{
	height:70px;
	width:100%;}

.header_nav .logo{
	width:15px;
	height:auto;
    left:25px;
	top:20px;
    transform:rotate(90deg);}

.line{
    display:none;}

.navp{
    display:none;}

header button{
	right:22px;
	border:none;
	background:none;}

.nav{
	left:0px;
    border:none;}

.nav li a{
    font-size:50px;}

.nav li:nth-of-type(1){
    margin-top:50px;}

.nav li{
    text-align:left;  
    margin-left: 40px;}
    
}


@media screen and (max-width:414px){
.nav li a{
    font-size:40px;}

}


@media screen and (min-width:1450px){
.nav li{
    margin-left:100px;}

.nav li a{
    font-size:130px;}

}